# Local Environment Database Overrides
DB_URL=jdbc:postgresql://localhost:5432/java25-production-ready-db?sslmode=disable
DB_USER=postgres
DB_PASSWORD=password1
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
PROMO_API_URL=http://promo-mock-server:8081/v1/promos/validate?code=